{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {temporal_sdk, {git, "https://github.com/andrzej-mag/temporal_sdk"}}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "~> 1.0.0"},
            {eqwalizer_support,
                {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
                    "eqwalizer_support"}}
        ]},
        {extra_src_dirs, [{"test", [{recursive, true}]}]}
    ]}
]}.

{shell, [
    {apps, [temporal_sdk_samples]},
    {config, "config/dev.sys.config"}
]}.
